img[src=""] {
  display: none;
}

.Form {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  align-items: center;
  justify-content: space-around;
}

.HomePageBtn {
  display: flex;
  flex-direction: column;
  vertical-align: bottom;
  margin-top: 10%;
}
